<h1>AccessDenied</h1>
<a asp-controller="Admin" asp-action = "Index">Admin</a>
<a asp-controller="Admin" asp-action = "AdminIndex">AdminIndex</a>
<a asp-controller="Admin" asp-action = "UserIndex">UserIndex</a>